@import url("//fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("//fonts.googleapis.com/earlyaccess/notosansjp.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanssc.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
*{
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: 105%;
  font-family: 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans KR', sans-serif;
}
tbody{
border-width:1px;
border-color:#FFFFFF;
border-style:groove;
}
a{ text-decoration:none; }
a:link { color: #555555; }
a:hover { color: #555555; text-decoration: underline; }
a:visited { color: #888888; }
body{
  max-width: 1000px;
  margin: 0 auto 0 0;
  padding-left: 240px;
  background-color: #FFFFFF;
  color: #2E3436;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  font-family : sans-serif;
  font-size : 11.25pt;
}
img{border: 0;}
input {
  border: 1px solid gainsboro;
  padding: 2px 4px;
}
h1, h2, h3, h4{
  margin: 0.5em 0px 3px;
  padding: 3px 6px;
}
ul, ol {
  padding-left: 2em;
}
li {
  padding: 2px 0;
}
fieldset {
  border: 2px solid #babdb6;
}
legend {
  padding: 0 1em;
}

.horizontal li {
  display: inline;
}
.menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1ex;
}
#header {
  text-align: right;
  line-height: 100%;
  padding: 0 10px;
}
#header .comment{ /* サーバ名 */
  font-size: 9.75pt;
  font-weight: bold;
}
noscript{
  color: #FF0000;
  font-size: 15pt;
  font-weight: bold;
}
#menu{ /* メニュー */
  position: absolute;
  left: 20px;
  width: 170px;
  padding: 0 10px;
}
#menu h2 {
  font-size: inherit; 
  padding:0 ;
}
#menu ul{
  *margin-left: 8px; /* IE6 対応 */
}
#main{
  padding: 0 30px 2em;
  overflow: hidden;
}
#main h1.title {
  font-size: x-large;
  border: none 0 transparent;
  padding:0 ;
}
#main h1{
  border-left: solid 10px #4e9a06;
  border-bottom: solid 1px #4e9a06;
  font-size: larger;
}
#main h2{
  border-left: solid 10px #4e9a06;
  border-bottom: solid 1px #4e9a06;
}
#main h3{
  border-left: solid 10px #f57900;
  border-bottom: solid 1px #f57900;
}
#main h4{
  border-left: solid 6px #BABDB6;
  border-bottom: solid 1px #BABDB6;
}


.text{border:1px solid #C0C0C0;} /* 村の名前, 説明など */
.notice { color: #FF0000; } /* 重要な説明 */
.explain{font-size: 80%;} /* オプションの説明 */
.explain input{border: 1px solid #000000;}
#footer{
  margin-bottom: 5px;
  text-align:right;
  font-size: 80%;
}
