@import url("//fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("//fonts.googleapis.com/earlyaccess/notosansjp.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanssc.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

input, button, select, textarea, body{
  font-family: 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans KR', sans-serif;
}
body { background-image: url('../images/top_bg2.jpg'); }
#information h1{
  border-left: solid 10px #4e9a06;
  border-bottom: solid 1px #4e9a06;
  font-size: 120%;
}
#information h2{
  border-left: solid 10px #4e9a06;
  border-bottom: solid 1px #4e9a06;
  font-size: 100%;
}
#information h3{
  border-left: solid 10px #f57900;
  border-bottom: solid 1px #f57900;
  font-size: 100%;
}
#information h4{
  border-left: solid 6px #d3d7cf;
  border-bottom: solid 1px #d3d7cf;
  font-size: 100%;
}
